<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bookDesk.css">
    <link rel="shortcut icon" href="/img/favicon.webp" type="image/x-icon">
    <title>Редактирование книги</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__contaner container">
                <a href="/home" class="header__logo logo">
                    <div class="logo__img">
                        <img src="/img/logo.webp" alt="" class="logo__img__icon">
                    </div>
                    <span class="header__logo__link logo__text">Librery</span>
                </a>
                <div class="header__profile">
                    <span class="header__profile__text">{{firstName}} {{lastName}}</span>
                    <div class="header__profile__img">
                        <img src="{{pathImgProfile}}" alt="Аватар" class="header__profile__img__icon">
                    </div>
                </div>
            </div>
        </header>
        <main class="main container">
             <div class="book-desk">
                <aside class="book-desk__aside">
                    <div class="book-desk__aside__cover">
                        <img src="{{coverBook}}" alt="Обложка книги" class="book-desk__aside__cover__img">
                    </div>
                   <form class="book-desk__aside__form" enctype="multipart/form-data" action="/setFileBook/{{bookId}}" method="post">
                        <div class="book-desk__aside__form__item">
                            <label class="book-desk__aside__form__item__title" for="nameBook">Изображение: </label>
                            <input type="file" id="nameBook" name="nameBook" class="book-desk__list__item__input" />{{bookName}}</input>
                        </div>

                        <div class="book-desk__aside__form__item">
                            <label class="book-desk__aside__form__item__title" for="nameBook">Файл .txt: </label>
                            <input type="file" id="nameBook" name="nameBook" class="book-desk__list__item__input" />{{bookName}}</input>
                        </div>

                        <button class="btn-def" type="submit">Изменить</button>
                   </form>
                </aside>
                <from action="/setInfoBook/{{bookId}}" method="post" class="book-desk__list">
                    <p class="book-desk__list__item"><h2 class="book-desk__list__item__title">Информация о книге</h2> <button class="btn-def" type="submit">Изменить</button></p>
                    <div class="book-desk__list__item book-desk__list__item--double">
                        <label for="nameBook">Название: </label>
                        <input type="text" id="nameBook" name="nameBook" class="book-desk__list__item__input" />{{bookName}}</input>
                    </div>
                    <div class="book-desk__list__item book-desk__list__item--double">
                        <label for="authorBook">Автор: </label>
                        <input type="text" id="authorBook" name="authorBook" class="book-desk__list__item__input" />{{bookAuthor}}</input>
                    </div>
                    <div class="book-desk__list__item book-desk__list__item--double">
                        <label for="ageBook">Год: </label>
                        <input type="text" id="ageBook" name="ageBook" class="book-desk__list__item__input" />{{bookAge}}</input>
                    </div>
                    <div class="book-desk__list__item book-desk__list__item--double">
                        <label for="categoryBook">Категория: </label>
                        <input type="text" id="categoryBook" name="categoryBook" class="book-desk__list__item__input" />{{bookCategory}}</input>
                    </div>
                    <div class="book-desk__list__item book-desk__list__item--double">
                        <label for="deakBook">Описание: </label>
                        <input type="text" id="deakBook" name="deakBook" class="book-desk__list__item__input" />{{bookDesk}}</input>
                    </div>
                </from>
            </div>
        </main>
        <footer class="footer">
            <div class="container footer__container">
                <span class="footer__text">Сайт разработан в образовательных целях</span>
            </div>
        </footer>
    </div>
</body>
</html>