<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="shortcut icon" href="/img/favicon.webp" type="image/x-icon">
    <title>Профиль</title>
</head>
<body>
    <div class="wrapper">
       <header class="header">
            <div class="header__contaner container">
                <a href="/home" class="header__logo logo">
                    <div class="header__logo__container">
                        <div class="logo__img">
                            <img src="/img/logo.webp" alt="" class="logo__img__icon">
                        </div>
                        <span class="header__logo__link logo__text">Librery</span>
                    </div>
                </a>
                <a href="/profile" class="header__profile">
                   <div class="header__profile__container">
                        <span class="header__profile__text">{{firstName}} {{lastName}}</span>
                        <div class="header__profile__img">
                            <img src="{{pathImgProfile}}" alt="Аватар" class="header__profile__img__icon">
                        </div>
                   </div>
                </a>
            </div>
        </header>
        <main class="main container profile">
            <form action="/getInfoUser" method="post" enctype="multipart/form-data" class="profile__info">
                <div class="profile__info__img">
                    <img src="{{profileImg}}" alt="Иконка пользователя" class="profile__info__img__icon">
                </div>
                <div class="profile__info__group">
                    <label for="input-first-name" class="profile__info__label">Имя:</label>
                    <input type="text" name="userFirstName" class="profile__info__input" id="input-first-name" value="{{firstName}}" placeholder="{{firstName}}">
                </div>
                <div class="profile__info__group">
                    <label for="input-last-name" class="profile__info__label">Фамилия:</label>
                    <input type="text" name="userLastName" class="profile__info__input" id="input-last-name" value="{{lastName}}" placeholder="{{lastName}}">
                </div>
                <div class="profile__info__group">
                    <label for="input-login" class="profile__info__label">Логин:</label>
                    <input type="text" name="userLogin" class="profile__info__input" id="input-login" value="{{login}}" placeholder="{{login}}">
                </div>
                 <div class="profile__info__group">
                    <label for="input-password" class="profile__info__label">Пароль:</label>
                    <input type="text" name="userPassword" class="profile__info__input" id="input-password" value="{{password}}" placeholder="{{password}}">
                </div>
                <div class="profile__info__group">
                    <label for="input-password" class="profile__info__label">Аватар:</label>
                    <input type="file" name="userImg" class="profile__info__input profile__info__input--size-18" value="{{profileImg}}" id="input-img">
                </div>
                <button type="submit" class="btn-def" id="btn-update">Изменить</button>
            </form>
            <section class="profile__table">
                <div class="profile__table__list">
                    <div class="profile__table__list__item profile__table__list__item--title">
                        <div class="profile__table__list__title__text profile__table__list__title__text--big">Наименование</div>
                        <div class="profile__table__list__title__text">Статус</div>
                    </div>
                    {{#each tableBook}}
                        <form method="post" action="/getBookPage/{{this.id}}" data-rentStart="{{this.rentStart}}">
                            <button class="profile__table__list__item" name="getBook">
                                <div class="profile__table__list__item__text profile__table__list__item__text--big">{{this.name}}</div>
                                <div class="profile__table__list__item__text">{{this.status}}</div>
                            </button>
                        </form>
                    {{/each}}
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="container footer__container">
                <span class="footer__text">Сайт разработан в образовательных целях</span>
            </div>
        </footer>
    </div>
</body>
</html>